*.iml
*.ipr
*.iws
target/
*~
.classpath
.project
.settings/
.DS_Store/
.DS_Store
gen/
out/
app/bin/
app/local.properties
app/libs/
test/bin/
test/tmp
test/test-report-html
test/test-reports
test/libs/
tmp/
app/.idea/
.gradle/
.idea/
build/
app/build/
app/app-release.apk
local.properties
infer-out/